{% extends "base.html" %}


{% block maincontent %}
<div class="container w-50 center">
  <p class="h3">Вы действительно хотите удалить {{ obj_string }} "{% if obj.name %}{{obj.name}}{% else %}{{obj.title}}{% endif %}"?</p>

  <form action="{{ delete_view }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-primary">Удалить</button>
    <a href="{{ link_back_page }}" class="btn btn-primary">Закрыть</a>
  </form>
</div>

{% endblock maincontent %}