{% extends "record/list_objects.html" %} 


{% block link_to_creator_route %}
  <a href="{% url "add_tag" %}" class="btn btn-primary mb-4">Добавить новый Тэг</a>
{% endblock link_to_creator_route %}

{% block for_objects %}
  {% for t in tags %}
  <li class="list-group-item">
    <div class="row justify-content-between">
      <div class="col-4">{{t.name}}</div>
      <div class="col-4">
        <a href="{% url "delete_tag" t.id %}" class="btn btn-primary">Удалить</a>
      </div>
    </div>
  </li>
  {% endfor %}
{% endblock for_objects %}

